In [5]:
# Install All the modules required.
%pip install kaggle
%pip install pandas

Requirement already satisfied: kaggle in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2025.4.26)
Requirement already satisfied: charset-normalizer in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (6.31.0)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\tusha\appdata\roaming\python\python311\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (65.5.0)
Requirement already satisfied: six>=1.10 in c:\users\tusha\appdata\roaming\python\python311\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.4.0)
Requirement already satisfied: webencodings in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\tusha\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tusha\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tusha\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\tusha\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
# Import All the required Libraries
import kaggle
import zipfile
import pandas as pd
import sqlalchemy as sal

OSError: Could not find kaggle.json. Make sure it's located in C:\Users\tusha\.kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/

In [4]:
# download dataset using kaggle API, We can use kaggle api calls to download
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

'kaggle' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
# We have downloaded the zipfile, we will use python libraries to unzip and extract the required file
zip_ref = zipfile.ZipFile('orders.csv.zip') # We can pass the complete file path here.
zip_ref.extractall() # extract file to dir, we can pass the file location where we want to extract the zipfiles.
zip_ref.close() # close file

In [8]:
# Read data from the extracted file and handle the null values

df = pd.read_csv('orders.csv') # can pass complete file path as well

# Looking at the data

df.head(20)

# First figure out what can be treated as null values from our data records. So have a look at the distinct values of ship mode.

df['Ship Mode'].unique()

NameError: name 'pd' is not defined

In [ ]:
#In our case, we can treat 'Not Available' and 'unknown' as nan values. In pandas 'nan' represents a null values

df = pd.read_csv('orders.csv',na_values=['Not Available', 'unknown'])

# Verify that we handled null values.

df.head(20)

# Check the unique values present in our dataset

df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [ ]:
# Rename the columns to standard names.

# First check all the column names we have

df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [ ]:
# Renaming can be done in different ways.
# 1. Manually calling the pandas rename() function by passing dictionary in it.

df.rename(columns={'Ship Mode': 'ship_mode', 'Order Id' : 'order_id'})

# 2. Using string functions
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [ ]:
# Verify the data
df.head(10)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [ ]:
# Derive new columns: discount, sales_price, profit

# 1. discount
df['discount']=df['list_price']*df['discount_percent']*.01

# 2. sales_price
df['sale_price']= df['list_price']-df['discount']

# 3. profit
df['profit']=df['sale_price']-df['cost_price']

In [ ]:
# Verify the data

df.head(10)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5,45.5,864.5,4.5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3,3.3,106.7,16.7

In [ ]:
# Handle the datatypes of each column. convert the datatypes to its corresponding data
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
profit              float64
dtype: object

In [ ]:
# 1. convert order_date datatype to datetime

df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [ ]:
# Check for correct datatypes now
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [ ]:
# Drop unnecessary columns as part of cleaning. Example: 'list_price','cost_price','discount_percent'
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [ ]:
# Verify the data
df.head(20)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,4,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,45.5,864.5,4.5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,3,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,5,3.3,106.7,16.7
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,9,51.3,1658.7,188.7
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,4,27.3,882.7,132.7
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,3,0.6,19.4,-0.6
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,3,8.2,401.8,41.8
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,5,3.5,66.5,6.5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,3,0.0,0.0,0.0
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,6,20.1,649.9,39.9
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,2,2.4,57.6,-2.4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,2,0.4,9.6,-0.4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,3,6.3,203.7,33.7

In [ ]:
# Establish a connection with sql server
engine = sal.create_engine('mssql://SAMEER\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [ ]:
# load the data into sql server using replace option, replace option will check for the table we passed. if found then it will drop and create the already present table and then replace it with table we passed using to_sql()
# it will create the new table
df.to_sql('df_orders', con=conn , index=False, if_exists = 'replace')

# Issue is that: Pandas will try to provide the maximum memory to all the columns and assigns them maximum values. 
# Example: for string column, it will assign 'varchar(max)'', for numeric columns like quantity, it will assign 'BigInt'. Though it is not required.
# Due to this we use the append option to create tables.

-1

In [ ]:
# load the data into sql server using append option, append option will check for the table we passed. if found then it will append it with table we passed using to_sql()

# First drop the above created table and create it again using append option

# For this, we can create a table in the sql server priorly.

df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

-1